@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --Dark-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.left img {
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 34px;
}

.right .first h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Dark-Grey);
    margin-left: -17px;
    padding: 10px 0;
}

.right .first p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: -21px;
    padding: 10px 7px;
    color: var(--Dark-Grey);
}

.right ul li{
    font-size: 0.9rem;
    font-weight: 400;
    padding: 10px 19px;
    color: var(--Dark-Grey);
}

.right .second form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 3px;
    margin-left: -19px;
    gap: 24px;
}

.right .second .one {
    display: flex;
    flex-direction: column;
}


.right .second .one label {
    font-size: 0.71rem;
    font-weight: 700;
    color: var(--Dark-Grey);
    padding: 10px 0;
}

.right .second .one #error {
    font-size: 0.71rem;
    font-weight: 400;
    color: var(--Tomato);
    width: 40%;
    position: absolute;
    transform: translateY(-4%) translateX(117%);
    padding: 12px;
    text-align: center;
    display: none;
  }

.right .second .one input[type=text] {
    width: 300px;
    border-radius: 6px;
    padding: 14px 12px;
    border: 1px solid var(--Grey);
    background-color: var(--White);
}

.right .second .two input[type=submit] {
    width: 300px;
    border-radius: 6px;
    padding: 14px 12px;
    border: none;
    color: var(--White);
    font-weight: 700;
    font-size: 0.8rem;
    background-color: var(--Dark-Grey);
    transition: ease-in-out 0.4s;
}

.right .second .two input[type=submit]:hover {
    background-color: var(--Tomato);
}